In [2]:
# Exploratory Data Analysis
# Setting up dataframe for analysis 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# line to allow the plots to be shown in the Jupyter Notebook
%matplotlib inline
%cd "C:\Users\jwill\Documents\Machine Learning\Data"

C:\Users\jwill\Documents\Machine Learning\Data

In [3]:
# load data
games = pd.read_csv('appstore_games.csv')

In [4]:
games.shape

(17007, 18)

In [5]:
games.head()

,URL,ID,Name,Subtitle,Icon URL,Average User Rating,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
0,https://apps.apple.com/us/app/sudoku/id284921427,284921427,Sudoku,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
1,https://apps.apple.com/us/app/reversi/id284926400,284926400,Reversi,NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
2,https://apps.apple.com/us/app/morocco/id284946595,284946595,Morocco,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
3,https://apps.apple.com/us/app/sudoku-free/id28...,285755462,Sudoku (Free),NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
4,https://apps.apple.com/us/app/senet-deluxe/id2...,285831220,Senet Deluxe,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.5,28.0,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

In [6]:
# standardize names in dataframe
# lowercase, no blank space
original_colums_dict = {x: x.lower().replace(' ','_') \
                        for x in games.columns}
original_colums_dict

{'URL': 'url',
 'ID': 'id',
 'Name': 'name',
 'Subtitle': 'subtitle',
 'Icon URL': 'icon_url',
 'Average User Rating': 'average_user_rating',
 'User Rating Count': 'user_rating_count',
 'Price': 'price',
 'In-app Purchases': 'in-app_purchases',
 'Description': 'description',
 'Developer': 'developer',
 'Age Rating': 'age_rating',
 'Languages': 'languages',
 'Size': 'size',
 'Primary Genre': 'primary_genre',
 'Genres': 'genres',
 'Original Release Date': 'original_release_date',
 'Current Version Release Date': 'current_version_release_date'}

In [7]:
# change column names
games.rename(columns = original_colums_dict,\
             inplace = True)

In [8]:
# created dataframe index with initial id column
games.set_index(keys = 'id', inplace = True)
games.head()

,url,name,subtitle,icon_url,average_user_rating,user_rating_count,price,in-app_purchases,description,developer,age_rating,languages,size,primary_genre,genres,original_release_date,current_version_release_date
id,,,,,,,,,,,,,,,,,
284921427,https://apps.apple.com/us/app/sudoku/id284921427,Sudoku,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
284926400,https://apps.apple.com/us/app/reversi/id284926400,Reversi,NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
284946595,https://apps.apple.com/us/app/morocco/id284946595,Morocco,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
285755462,https://apps.apple.com/us/app/sudoku-free/id28...,Sudoku (Free),NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
285831220,https://apps.apple.com/us/app/senet-deluxe/id2...,Senet Deluxe,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.5,28.0,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

In [9]:
# Drop columns
games.drop(columns = ['url', 'icon_url'], inplace = True)

In [10]:
# DataFrame info
games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17007 entries, 284921427 to 1475076711
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          17007 non-null  object
 1   subtitle                      5261 non-null   object
 2   average_user_rating           7561 non-null   float64
 3   user_rating_count             7561 non-null   float64
 4   price                         16983 non-null  float64
 5   in-app_purchases              7683 non-null   object
 6   description                   17007 non-null  object
 7   developer                     17007 non-null  object
 8   age_rating                    17007 non-null  object
 9   languages                     16947 non-null  object
 10  size                          17006 non-null  float64
 11  primary_genre                 17007 non-null  object
 12  genres                        17007 non-null  object
 13  original_release_date         17007 non-null  object
 14  current_version_release_date  17007 non-null  object
dtypes: float64(4), object(11)
memory usage: 2.1+ MB

In [12]:
# Transform date columns from object type to datetime type
games['original_release_date'] = pd.to_datetime\
                                 (games['original_release_date'])
games['current_version_release_date'] =\
pd.to_datetime(games['current_version_release_date'])
games.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17007 entries, 284921427 to 1475076711
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          17007 non-null  object
 1   subtitle                      5261 non-null   object
 2   average_user_rating           7561 non-null   float64
 3   user_rating_count             7561 non-null   float64
 4   price                         16983 non-null  float64
 5   in-app_purchases              7683 non-null   object
 6   description                   17007 non-null  object
 7   developer                     17007 non-null  object
 8   age_rating                    17007 non-null  object
 9   languages                     16947 non-null  object
 10  size                          17006 non-null  float64
 11  primary_genre                 17007 non-null  object
 12  genres                        17007 non-null  object
 13  original_release_date         17007 non-null  datetime64[ns]
 14  current_version_release_date  17007 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), object(9)
memory usage: 2.1+ MB

In [13]:
# check for missing values
games.isnull().sum()

name                                0
subtitle                        11746
average_user_rating              9446
user_rating_count                9446
price                              24
in-app_purchases                 9324
description                         0
developer                           0
age_rating                          0
languages                          60
size                                1
primary_genre                       0
genres                              0
original_release_date               0
current_version_release_date        0
dtype: int64

In [14]:
# Elminate lines where 'average_user_rating' has no data
# i.e., keep lines where 'average_user_rating' is notnull

games = games.loc[games['average_user_rating'].notnull()]

In [15]:
# Keep only those with more than 30 user ratings
games = games.loc[games['user_rating_count'] >= 30]
games.shape

(4311, 15)

In [16]:
games.isnull().sum()

name                               0
subtitle                        2523
average_user_rating                0
user_rating_count                  0
price                              0
in-app_purchases                1313
description                        0
developer                          0
age_rating                         0
languages                         14
size                               0
primary_genre                      0
genres                             0
original_release_date              0
current_version_release_date       0
dtype: int64

In [17]:
## Transform String column into Numerical column

# 'languages' column contains a string of language abbreviations
games2 = games.copy()
games2['languages'].head()

id
284921427    DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...
284926400                                                   EN
284946595                                                   EN
285755462    DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...
286210009                                                   EN
Name: languages, dtype: object

In [18]:
# replace missing values with EN (English)
games2['languages'] = games2['languages'].fillna('EN')

In [21]:
# get a list of the different languages
list_of_languages = games2['languages'].str.split(',')

In [24]:
# column with the number of languages
games2['n_languages'] = list_of_languages.apply(lambda x: len(x))
games2['n_languages']

id
284921427     17
284926400      1
284946595      1
285755462     17
286210009      1
              ..
1471336822     1
1471595571     1
1473181500     1
1473559573     1
1474461379     1
Name: n_languages, Length: 4311, dtype: int64

In [37]:
#Save revised dataframes as .csv files
import numpy as np
games.to_csv(r'appstore_games1.csv', index = False)
games2.to_csv(r'appstore_games2.csv', index = False)

In [38]:
#Save array as .csv files
import numpy as np
a = np.asarray([ [1,2,3], [4,5,6], [7,8,9] ])
a.tofile('foo.csv',sep=',',format='%10.5f')