In [3]:
# Exploratory Data Analysis
# Descriptive Statistics

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%cd "C:\Users\jwill\Documents\Machine Learning\Data"

C:\Users\jwill\Documents\Machine Learning\Data

In [7]:
# load data
games = pd.read_csv('appstore_games2.csv')
games.head()

,name,subtitle,average_user_rating,user_rating_count,price,in-app_purchases,description,developer,age_rating,languages,size,primary_genre,genres,original_release_date,current_version_release_date,n_languages
0,Sudoku,NaN,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",2008-11-07,2017-05-30,17
1,Reversi,NaN,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",2008-11-07,2018-05-17,1
2,Morocco,NaN,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",2008-11-07,2017-05-09,1
3,Sudoku (Free),NaN,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",2008-07-23,2017-05-30,17
4,Sudoku - Classic number puzzle,Original brain training,3.0,47.0,0.00,1.99,"Sudoku will tease your brain, challenge you or...",OutOfTheBit Ltd,4+,EN,48672768.0,Games,"Games, Entertainment, Strategy, Puzzle",2008-07-30,2019-04-29,1

In [8]:
# 1 How difficult it is to understand data by looking at it

random_ratings = games['average_user_rating'].sample(n=300)
for r in random_ratings:
    print(r, end=', ')

4.0, 2.0, 4.0, 4.5, 5.0, 4.0, 4.0, 4.5, 3.0, 4.5, 4.5, 4.5, 4.5, 3.5, 1.5, 3.0, 4.0, 4.5, 4.0, 4.5, 3.5, 4.0, 4.5, 4.0, 5.0, 4.5, 4.5, 3.5, 4.5, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.5, 3.0, 4.0, 3.5, 4.5, 3.5, 4.0, 4.5, 4.5, 5.0, 4.5, 4.5, 4.0, 4.0, 4.0, 4.0, 4.5, 4.5, 4.5, 3.5, 4.5, 4.0, 3.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 3.0, 4.0, 4.0, 4.5, 4.5, 3.0, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 3.5, 4.5, 4.5, 4.0, 4.5, 3.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.0, 4.0, 5.0, 4.5, 5.0, 4.0, 3.0, 4.5, 4.5, 3.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 3.5, 3.5, 4.5, 4.5, 3.5, 4.5, 3.0, 4.0, 5.0, 3.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 4.5, 4.5, 4.5, 3.5, 4.5, 4.5, 3.5, 3.0, 3.5, 4.5, 4.0, 4.0, 4.0, 4.0, 3.5, 4.0, 4.5, 4.0, 4.5, 5.0, 3.5, 4.0, 4.0, 4.5, 3.0, 5.0, 4.5, 4.5, 4.5, 4.0, 4.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 5.0, 3.5, 3.5, 5.0, 4.0, 4.5, 4.5, 4.5, 3.5, 4.0, 4.5, 2.5, 4.0, 4.5, 4.5, 4.0, 2.5, 5.0, 4.0, 4.0, 3.0, 4.5, 5.0, 5.0, 4.5, 5.0, 3.5, 4.5, 4.0, 3.5, 4.0, 3.5, 4.5, 4.0, 4.5, 4.0, 4.5, 4.0, 4.5, 4.5, 2.5, 4.5, 4.5, 4.0, 4.5, 3.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.0, 4.5, 4.0, 3.5, 4.0, 3.5, 3.0, 4.0, 4.0, 4.5, 3.5, 4.5, 4.0, 4.5, 3.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 4.0, 4.0, 5.0, 4.0, 4.5, 4.5, 5.0, 4.5, 4.5, 3.0, 4.0, 4.5, 4.5, 4.0, 4.5, 5.0, 4.5, 4.5, 2.5, 4.5, 3.5, 3.0, 3.0, 4.5, 4.0, 3.5, 4.0, 4.0, 4.5, 5.0, 4.0, 3.0, 4.5, 4.5, 4.5, 4.0, 4.0, 4.5, 4.5, 4.5, 5.0, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.5, 4.0, 4.5, 2.5, 4.5, 4.5, 3.5, 4.5, 4.5,

In [21]:
# Mean = 4.35 (actual 4.17) off by less than .2
# SD = .55 (actual .56612) off by less than .02
# Longer to left, shorter to right

random_ratings.std()
random_ratings.mean()
random_ratings.quantile([0.25, 0.5, 0.75])

0.25    4.0
0.50    4.5
0.75    4.5
Name: average_user_rating, dtype: float64

In [14]:
# 2 Basic Statistics

mens_heights = pd.Series\
               ([1.68, 1.83, 1.75, 1.8, 1.88, 1.8, 1.89, 1.84,\
                 1.9, 1.65, 1.67,1.62, 1.81, 1.73, 1.84, 1.78,\
                 1.76, 1.97, 1.81, 1.75, 1.65, 1.87, 1.85, 1.64])

In [15]:
# Mean
mens_heights.mean()

1.7820833333333335

In [16]:
# Standard Deviation
mens_heights.std()

0.09408502938099766

In [20]:
# Quantiles: 25%, 50%, 75%
mens_heights.quantile([0.25, 0.5, 0.75])

0.25    1.7175
0.50    1.8000
0.75    1.8425
dtype: float64

In [22]:
# Quantiles: 33% and 80%
mens_heights.quantile([0.33, 0.80])

0.33    1.750
0.80    1.858
dtype: float64

In [23]:
# satisfies conditional
mens_heights >= 1.8

0     False
1      True
2     False
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
11    False
12     True
13    False
14     True
15    False
16    False
17     True
18     True
19    False
20    False
21     True
22     True
23    False
dtype: bool

In [24]:
# Percent that satisfies conditional

# sum of True (1) divided by total
(mens_heights >= 1.8).sum()/mens_heights.shape[0]

0.5416666666666666

In [25]:
# Alternate method
(mens_heights >= 1.8).mean()

0.5416666666666666

In [26]:
# 3 Descriptive Statistics

games.describe()

,average_user_rating,user_rating_count,price,size,n_languages
count,4311.000000,4.311000e+03,4311.000000,4.311000e+03,4311.000000
mean,4.163535,5.789754e+03,0.677878,1.759569e+08,4.527024
std,0.596239,5.592425e+04,2.910916,2.866278e+08,7.106231
min,1.500000,3.000000e+01,0.000000,2.158400e+05,1.000000
25%,4.000000,7.000000e+01,0.000000,4.073626e+07,1.000000
50%,4.500000,2.210000e+02,0.000000,9.730048e+07,1.000000
75%,4.500000,1.192000e+03,0.000000,2.085176e+08,5.000000
max,5.000000,3.032734e+06,139.990000,4.005591e+09,111.000000

In [28]:
# looking at rating count data
# 10 most rated games (highest game count)
games['user_rating_count'].sort_values(ascending=False).head(10)

944     3032734.0
2586    1277095.0
3756     711409.0
1226     469562.0
2828     439776.0
1454     400787.0
3598     374772.0
2938     283035.0
32       273687.0
1812     259030.0
Name: user_rating_count, dtype: float64

In [29]:
# number of games with more than 100K ratings
(games['user_rating_count'] >= 100000).sum()

40

In [30]:
# Looking at 'average user rating' data
games['average_user_rating'].describe()

count    4311.000000
mean        4.163535
std         0.596239
min         1.500000
25%         4.000000
50%         4.500000
75%         4.500000
max         5.000000
Name: average_user_rating, dtype: float64

In [31]:
# the number and the proportion of games with a rating of exactly 4.5. 

ratings_of_4_5 = (games['average_user_rating'] == 4.5).sum()
proportion_of_ratings_4_5 = (games['average_user_rating'] == 4.5)\
                            .mean()
print(f'''The number of games with an average rating of 4.5 is \
{ratings_of_4_5}, \
which represents a proportion of {proportion_of_ratings_4_5:.3f} or \
{100*proportion_of_ratings_4_5:.1f}%''')

The number of games with an average rating of 4.5 is 2062, which represents a proportion of 0.478 or 47.8%

In [32]:
# Unique values of average user ratings

games['average_user_rating'].unique()

array([4. , 3.5, 3. , 2.5, 2. , 4.5, 5. , 1.5])